*{
   font-family:'Lucida Sans Unicode'
   font-size:14px;
}
body{
    background-image:url("https://st2.depositphotos.com/1177973/10340/i/950/depositphotos_103405420-stock-photo-programming-code-on-laptop.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    
}
h1{
    text-align:center;
    font-size:12px;
}

.Top nav >a{
        float: left;
        color: #f2f2f2;
        text-align: center; 
        font-size: 17px;
        border: 5px solid;
}
a{
    padding:20px 16px;
}
h3{
   text-align:center;
   font-family: Helvetica;
}
img{
    padding-left:400px;
}


