*{
   font-family:Papyrus;
   font-size:14px;
}
body{
    background-image:url("https://cdn.lynda.com/course/83603/83603-636216266356158373-16x9.jpg");
    background-repeat: no-repeat;
}
h1{
    text-align:center;
    font-size:12px;
}

.Top nav >a{
        float: right;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
}